@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap')
@import "header"
@import "hero"
@import "fonts"
@import "footer"
@import "business"
@import "more"
@import "story"
@import "brands"
@import "map"
@import "age"
@import "about"
@import "exeperts"
@import "fun"
@import "distribution"
@import "two"
@import "people"
@import "history"
@import "bottle"
@import "social"
@import "country"
@import "news"
@import "perfect"
@import "explore"
@import "question"
@import "biz"
@import "locator"
@import "small"
@import "online"
@import "blog"
@import "media"
@import "post"
@import "recent"
@import "live"
@import "intro"
@import "late"
@import "corporate"
@import "car"
@import "vac"
@import "contact"
@import "all"
@import "drink"
@import "tip"
@import "four"
@import "future"
@import "envi"
@import "policy"
@import "com"
@import "log"
@import "product"
@import "not"
@import "know"
@import "popup"
section
  display: none
footer
  display: none
.brands
  display: flex
*
  margin: 0
  padding: 0
  box-sizing: border-box
  list-style-type: none
  text-decoration: none
  border-radius: 0
.input-text
  -webkit-appearance: none
  box-shadow: none
  appearance: none
.container
  width: 100%
  max-width: 1720px
  display: flex
  margin: 0 auto
.scroll
  overflow: hidden
/* width */
::-webkit-scrollbar
  width: 10px
  border-radius: 10px


/* Track */
::-webkit-scrollbar-track
  background: #F2F4F7
  border-radius: 10px


/* Handle */
::-webkit-scrollbar-thumb
  background: #EA6510
  border-radius: 10px


/* Handle on hover */
::-webkit-scrollbar-thumb:hover
  background: #555

